
$txt-main-color:#282828;
$txt-third-color:#9F9F9F;
$hover-color:#BC575F;
$bg-footer:#F4F4F4;
$txt-white: #fff;
$txt-second-color:#C3B212;
$hr-color: #A0A0A0;
$hover-quantity:#ccc;

$bg-btn: #282828;
