.collections {
    display: flex;
    justify-content: space-between;
    padding: 70px 76px;

    &__products {
        width: 80%;

        &__sort {
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            select {
                border: none;
                cursor: pointer;
                font-weight: 500;
                font-size: 16px;
            }

            select:focus {
                border: none;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }
    }

    @media (max-width: 768px) {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
    }
}
