.contact {
    &__content {
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        margin-top: 50px;

        &__header {
            padding-top: 50px;
            text-align: center;
            align-items: center;

            .grey_text {
                color: #9F9F9F;
            }
        }

        &__main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 50px;
            gap: 20px;

            &__right {
                .p1{
                    padding: 2em 0;
                }
                .p0{
                    padding-bottom: 2em;
                }
                input {
                    width: 533.52px;
                    height: 75px;
                    border-radius: 5px;
                    border: 1px solid #9F9F9F;
                    padding: 20px;
                }

                textarea {
                    width: 533.52px;
                    height: 120px;
                    border-radius: 5px;
                    border: 1px solid #9F9F9F;
                    padding: 20px;
                }
                .button_gui{
                    padding: 4em 0;
                }
                #button_Gui {
                    width: 137px;
                    height: 55px;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                    &:hover{
                        background-color: white;
                        color: black;
                    }
                }
            }
            &__left {
                &__block {
                    display: block;
                    width: 300px;
                    height: 120px;
                }
                &__text1{
                    font-size: 24px;
                    padding-bottom: 10px;
                }
                .img_element{
                    vertical-align: top;
                    padding-right: 10px;
                }
            }
        }
    }
}