.delivery{
    &__content{
        padding: 2em 10em;
        h1 {
            font-weight: 400;
            font-size: 22px;
        }
        &__left{
            float: left;
            width: 45%;
            height: 450px;
            background-color: #F5F5F5;
            padding: 2em;
            
            &__box1{
                margin-top: 1em;
                input {
                    width: 100%;
                    height: 4em;
                    padding: 1em;
                    border: 1px solid black;
                }
            }
            &__box2{
                display: flex;
                justify-content: space-between;
                margin-top: 1em;
                input {
                    width: 45%;
                    height: 4em;
                    padding: 1em;
                    border: 1px solid black;
                }
            }
        }
        &__right{
            float: right;
            width: 45%;
            height: 350px;
            background-color: #F5F5F5;
            
            &__bill {
                padding: 2em;
                &__p {
                    font-size: 13px;
                    color: gray;
                    margin-bottom: 10px;
                }
                .button{
                    padding-top: 2em;
                }
                button {
                    width: 100%;
                    color: white;
                    background-color: black;
                    height: 4em;
                    border: 1pt solid black;
    
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                    cursor: pointer;
                }
            }
        }
        &__bottom{
            clear: both;
        }
    }
}