.header {
  background-color: #fff;
  padding: 10px 0;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    max-height: 108px;
    margin: 0 auto;
    padding: 30px 20px;
    font-weight: 500;

    .logo {
      font-size: 24px;
      font-weight: bold;

      a {
        color: #333;
      }
    }

    .mobile-menu-button {
      display: none;
      cursor: pointer;
    }

    .mobile-menu-button:hover {
      color: $hover-color;
    }

    .navbar {
      ul {
        list-style: none;
        display: flex;

        li {
          margin-right: 40px;
          font-weight: 500;

          a {
            color: #333;
            font-size: 14px;

            &:hover {
              color: $hover-color;
              text-decoration: underline;
            }

            &.active {
              color: $hover-color;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .icons {
      display: flex;

      .search-icon,
      .account-icon,
      .cart-icon {
        margin-left: 30px;

        a {
          text-decoration: none;
          color: $txt-main-color;

          &:hover {
            color: $hover-color;
          }

          &.active {
            color: $hover-color;
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .mobile-menu-button {
        display: block;
        margin-left: 30px;
      }

      .navbar {
        display: none;
      }

      .navbar.open {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        padding: 10px;
        z-index: 1;

      }
    }
  }
}