.relative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;

    &__h1 {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
    @media (max-width: 768px) {
        &__list {
            grid-template-columns: 1fr; /* 1 column instead of 3 on smaller screens */
        }
    }
}