.search {
    position: relative;

    &__search_bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $txt-white;
        border-top: 1px solid $txt-white;
        padding: 15px 20px;
        width:100%;

        input {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 20px;
            color: $txt-white;
        }
        input:focus {
            outline: none;
        }
        input::placeholder { 
            color:$txt-white;
        }
    }
}

.close-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}